@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
}

#root {
  height: 100%;
}

body {
  height: 100%;
  background-color: rgb(57, 60, 66) !important;
}

.App {
  padding: 20px;
  display: flex;
  height: 100%;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  text-align: center;
}
